<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Parallel Tests" parallel="tests" thread-count="3">
    <!--    <listeners>-->
    <!--        &lt;!&ndash;        <listener class-name="UiTask.CustomTestListener"/>&ndash;&gt;-->
    <!--        <listener class-name="org.testng.reporters.SuiteHTMLReporter"/>-->
    <!--        <listener class-name="org.testng.reporters.XMLReporter"/>-->
    <!--        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>-->
    <!--    </listeners>-->

    <!-- using class name to run specific tests -->
    <test name="Test on Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tasks.UiTask.ScenarioOneInvalidCasesUITests"/>
            <class name="tasks.UiTask.ScenarioOneValidCaseUITests"/>
        </classes>
    </test>

    <test name="Test on Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tasks.UiTask.ScenarioOneInvalidCasesUITests"/>
            <class name="tasks.UiTask.ScenarioOneValidCaseUITests"/>
        </classes>
    </test>

    <test name="Test API">
        <classes>
            <class name="tasks.apiTask.SimpleBooksApiTests"/>
        </classes>
    </test>
</suite>